{{> theme_blank/head }}

<body {{{ body_attributes }}}>
  <div id="page-wrapper">
    {{{ output.standard_top_of_body_html }}}
    {{> theme_blank/navbar }}

    <div id="page" class="container-fluid">
      {{{ output.full_header }}}
      <div id="page-content" class="row pb-3">
        <div id="region-main-box" class="col-12">
          {{#hasblocks}}
            <section data-region="blocks-column"
              class="d-print-none"
              aria-label="{{#str}}blocks{{/str}}">
              {{{ sidepreblocks }}}  
            </section>
          {{/hasblocks}}
        </div>

        <section id="region-main">
          {{{ output.course_content_header }}}
          {{{ output.main_content }}}
          {{{ output.activity_navigation }}}
          {{{ output.course_content_footer }}}
        </section>
      </div>
    </div>
  </div>
  
  {{{ output.standard_after_main_region_html }}}

  {{> theme_blank/nav-drawer }}
  {{> theme_blank/footer }}
</body>
</html>