{{! <header>
  <div class="navbar-custom">
    <div class="container-fluid">
      <img src="" />

      <div class="d-flex flex-row-reverse item-menu">
        <div class="my-4">
          <span class="mr-3 light">Username</span>
        </div>
      </div>
    </div>
  </div>
</header> }}

<div class="row">
  <div class="col-6">
    <p>Hello</p>
  </div>

  <div class="col-6">
    <p>World</p>
  </div>
</div>