<header>
  <nav class="navbar-custom fixed-top">
    <div class="container px-0">
      <a href="{{config.wwwroot}}">
        <img class="logo" src="{{output.site_logo}}" />
      </a>


      <div class="navbar-large-menu text-white">
        <div class="d-flex row-reverse">
          <div id="user-menu">
            <img src="{{output.profile_picture}}" />
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>